/* Profile.css */

.imgAvatar {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* Medium screen styles */
  .md\:p-4 {
    padding: 1rem;
  }
  .md\:w-64 {
    width: 16rem;
  }
  .md\:h-64 {
    height: 16rem;
  }
  .md\:w-80 {
    width: 20rem;
  }
  .md\:h-80 {
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .imgAvatar {
    clip-path: circle(50% at 50% 50%);
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}
